html {
    height:100%;
    
    background:linear-gradient(0deg, #D8E8ED 5%, #EEEEEE 70%);
}

body {
    background-color: rgba(255,255,255,0);
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

table.specialtable {
    
    width: 1015px;
    height: 595px;
}

td.specialtd {
    text-align: center;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

div.specialframe {
    display: table-cell;
    height: 595px;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

div.specialbutton {
    height: 100%;
}

div.loading {
    z-index: 3;
    position:absolute;
    left: 50%;
    top: 50%;
    margin-top: -166px;
    margin-left: -175px;
}

div.saved {
    z-index: 3;
    position:absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -320px;
}

div.picture-733 {
    z-index: 4;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -295px;
    margin-left: -393px;
    display: none;
    
}

img.image-733 {
    width: 785px;
    height: 590px;
    border: 2px solid black;
}

img.small {
    width: 800px;
    height: 600px;
}

img.size_xs {
    width: 254px; 
    height: 190px;
    border: 2px solid black;
    margin: 2px;
}

a.current_site {
    background-color: #999999;
    color: #000000;
    margin: 2px;
}

a.other_sites {
    background-color: #269abc;
    color: #FFFFFF;
    margin: 2px;
}

div.center-text {
    text-align: center;
}

.btn-greate-blue {
    background-color: #C1CDDE;
}