<script language="javascript">
    function showLoading() {
        $('#loading').show();
    }
</script>
<?php

$this->BackgroundGallery($this->bgimages, $this->columncount);
?>
<div id="loading" class="loading" style="display: none;">
    <img src="/img/loading.gif" style="border: 1px solid black;">
    <center>Please Wait up to 1 Minute</center>
</div>