<div class="container">
    <table class="specialtable">
        <tr>
            <td class="specialtd">
                <div id="timerbox">
                    
                </div>
                <div class="btn">
                    <img height="500" src="/img/button.png">                
                    <script lang="javascript">
                            setTimeout(function(){ window.location = "/image/wait/<?php echo $this->picture; ?>"; }, 500);
                    </script>
                </div>
            </td>  
        </tr>
    </table>
</div>
