<div class="container">
    <center><img src="/img/ready.png" class="small" style="border: 5px solid black;"></center>
    <center>
        <?php
        echo $this->Form($this->deleteForm);
        ?>
    </center>
</div>
