<div id="loading" class="loading">
    <img src="/img/loading.gif" style="border: 1px solid black;">
    <center>Please Wait up to 1 Minute</center>
</div>
<?php
  $url = $this->url('backgroundcompose', array('action' => 'compose', 'id' => $this->picturename));
?>
<script lang="javascript">
         setTimeout(function(){ window.location = "<?php echo $url; ?>"; }, 500);
</script>

