<?php echo $this->doctype(); ?>

<html lang="en">
    <?php echo $this->header; ?>
    <body>
        <div class="container">
            <?php echo $this->content; ?>
            <hr>
            <?php echo $this->footer; ?>

        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
