
<div class="container">
    <table class="specialtable">
        <tr>
            <td class="specialtd">
                <div class="btn">
                    <a href="background/select"><img src="img/GreenScreen.png"></a>
                    <br>
                    <a class="btn btn-lg btn-greate-blue" href="/">Back</a>
                </div>
            </td> 
        </tr>
    </table>
</div>