<div class="container">
    <table class="specialtable">
        <tr>
            <td class="specialtd">
                <div class="btn">
                    <a href="camera"><img src="img/TakeAPhoto.png"></a>
                </div>
            </td>
            <td class="specialtd">
                <div class="btn">
                    <a href="pictures"><img src="img/ShowPictures.png"></a>
                </div>
            </td>    
        </tr>
    </table>
</div>
